:root {
  --colour-grey: #383838;
}

html,
body,
#root {
  width: 100%;
  height: 100%;
  font-family: sans-serif;
  color: var(--colour-grey);
}

* {
  box-sizing: border-box;
}

a,
a:active,
a:visited,
.Anchor {
  background-color: transparent;
  border: 0;
  padding: 0;
  margin: 0;
  cursor: pointer;
  color: white;
}

a,
.Anchor {
  text-decoration: none;
  border-bottom: 1px dotted white;
}

a:hover,
.Anchor:hover {
  text-decoration: none;
  border-bottom: 1px solid white;
}

.App {
  width: 100%;
  height: 100%;
  min-height: 100%;
  max-height: 100%;
  display: grid;
  grid-template-rows: 40px calc(100% - 80px) 40px;
  grid-template-columns: 1fr 2fr;
  grid-template-areas:
    "header header"
    "main main"
    "footer footer";
}

.Header {
  width: 100%;
  height: 40px;
  background-color: var(--colour-grey);
  grid-area: header;
  padding: 5px 8px;
  color: pink;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.Header__heading {
  margin: 0;
  font-size: 1.5rem;
}

.Menu {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

.Menu__item {
  float: left;
}

.Menu__item:not(:last-child) {
  padding-right: 10px;
  margin-right: 10px;
  border-right: 1px solid pink;
}

.Main {
  grid-area: main;
  display: grid;
  grid-template-columns: minmax(400px, 1fr) 2fr;
  grid-template-areas: "config result";
}

.Config {
  grid-area: config;
  overflow: auto;
  padding: 5px;
  position: relative;
}

.Fieldset:not(:last-child) {
  margin-bottom: 5px;
}

.Fieldset__header {
  cursor: pointer;
  color: pink;
  font-weight: bold;
  background-color: var(--colour-grey);
  padding: 5px 10px;
  border-radius: 5px;
  z-index: 1;
  position: relative;
  border-bottom: 1px solid white;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.Fieldset__body {
  padding: 5px 10px;
  padding-top: 10px;
  margin-top: -10px;
  border-radius: 5px;
  background-color: lightgrey;
  z-index: 0;
}

.Fieldset__fields {
  border-top: 1px solid white;
  padding: 10px 0 5px 0;
}

.Result {
  grid-area: result;
  display: grid;
  grid-template-rows: 2fr auto;
  grid-template-areas: "result_header" "result_code";
  background-color: var(--colour-grey);
}

.ResultHeader {
  padding: 5px;
  grid-area: result_header;
  margin-top: -40px;
  color: pink;
  font-size: 3rem;
  align-items: center;
  justify-content: center;
  display: flex;
}

@media screen and (max-width: 1200px) {
  .ResultHeader {
    font-size: 2rem;
  }
}

@media screen and (max-width: 900px) {
  .ResultHeader {
    font-size: 1.25rem;
  }
}

.ResultHeader__placeholder {
  color: grey;
}

.HeaderDirective {
  float: left;
  clear: both;
}

.HeaderDirective:not(:last-child):after {
  content: ",";
}

.ResultCode {
  grid-area: result_code;
}

.ResultCode__header {
  height: 40px;
  background-color: orange;
  color: white;
  width: 100%;
  display: flex;
  align-items: center;
  padding: 0 10px;
  font-weight: bold;
  justify-content: space-between;
}

.ResultCode__header-toggle {
  cursor: pointer;
}

.ResultCode__header-toggle span {
  border-bottom: 1px dotted white;
}

.ResultCode__header-select {
  border: 0;
  border-radius: 5px;
  padding: 3px 5px;
}

.ResultCode__code {
  background-color: white;
  margin: 0;
}

.Footer {
  display: flex;
  align-items: center;
  justify-content: space-between;
  grid-area: footer;
  padding: 5px 8px;
  background-color: var(--colour-grey);
  color: white;
}

.Footer__resources span {
  display: inline-block;
  margin-right: 5px;
}
