:root {
  --colour-grey: #383838;
}

html,
body,
#root {
  width: 100%;
  height: 100%;
  font-family: sans-serif;
  color: var(--colour-grey);
  font-size: 12px;
}

* {
  box-sizing: border-box;
}

a,
a:active,
a:visited,
.Anchor {
  background-color: transparent;
  border: 0;
  padding: 0;
  margin: 0;
  cursor: pointer;
  color: white;
}

a,
.Anchor {
  text-decoration: none;
  border-bottom: 1px dotted white;
}

a:hover,
.Anchor:hover {
  text-decoration: none;
  border-bottom: 1px solid white;
}

.App {
  width: 100%;
  height: 100%;
  min-height: 100%;
  max-height: 100%;
  display: grid;
  grid-template-rows: 40px calc(100% - 80px) 40px;
  grid-template-columns: 1fr 2fr;
  grid-template-areas:
    "header header"
    "main main"
    "footer footer";
}

.Header {
  width: 100%;
  height: 40px;
  background-color: var(--colour-grey);
  grid-area: header;
  padding: 5px 8px;
  color: pink;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.Header__heading {
  margin: 0;
  font-size: 1.5rem;
}

.Menu {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

.Menu__item {
  float: left;
}

.Menu__item:not(:last-child) {
  padding-right: 10px;
  margin-right: 10px;
  border-right: 1px solid white;
}

.Main {
  grid-area: main;
  display: grid;
  grid-template-columns: minmax(400px, 1fr) 2fr;
  grid-template-areas: "config result";
}

@media screen and (max-width: 720px) {
  .Main {
    grid-template-rows: auto 3fr;
    grid-template-columns: 1fr;
    grid-template-areas: "result" "config";
  }

  .Result {
    border-bottom: 1px solid grey;
  }

  .ResultCode {
    display: none;
  }

  body .ResultHeader {
    margin-top: 0;
  }

  .Fieldset {
    font-size: 1.25rem;
  }

  .Fieldset__header {
    height: 40px;
  }

  body .ResultHeader__placeholder--mobile {
    display: block;
  }

  body .ResultHeader__placeholder--desktop {
    display: none;
  }
}

.Config {
  grid-area: config;
  overflow: auto;
  padding: 5px;
  position: relative;
}

.Fieldset:not(:last-child) {
  margin-bottom: 5px;
}

.Fieldset__header {
  cursor: pointer;
  color: pink;
  font-weight: bold;
  background-color: var(--colour-grey);
  padding: 5px 10px;
  border-radius: 5px;
  z-index: 1;
  position: relative;
  border-bottom: 1px solid white;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.Fieldset__body {
  padding: 5px 10px;
  padding-top: 10px;
  margin-top: -10px;
  border-radius: 5px;
  background-color: lightgrey;
  z-index: 0;
  border-bottom: 1px solid darkgrey;
}

.Fieldset__description {
  border-bottom: 1px solid darkgrey;
}

.Fieldset__fields {
  height: 40px;
  border-top: 1px solid ghostwhite;
  padding: 10px 0 5px 0;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.Radio {
  position: fixed;
  top: -999px;
  left: -999px;
}

label {
  display: flex;
  flex-direction: row;
  align-items: center;
}

input[type="number"] {
  height: 25px;
  width: 100px;
  border-top-left-radius: 5px;
  border-bottom-left-radius: 5px;
  border: 1px solid var(--colour-grey);
  padding-left: 5px;
}

input[type="checkbox"] {
  height: 20px;
  width: 20px;
  margin-right: 5px;
}

input[type="radio"] ~ span {
  display: inline-block;
  height: 25px;
  display: flex;
  align-items: center;
  padding: 0 5px;
  background-color: var(--colour-grey);
  color: white;
  cursor: pointer;
}

input[type="radio"] ~ span:hover {
  color: salmon;
}

input[type="radio"]:checked ~ span {
  color: pink;
}

.NumberRadioInput {
  display: flex;
  flex-direction: row;
}

.NumberRadio__radio--first span {
  padding-left: 4px;
}

.NumberRadio__radio--last span {
  padding-right: 4px;
  border-top-right-radius: 5px;
  border-bottom-right-radius: 5px;
}

.Result {
  grid-area: result;
  display: grid;
  grid-template-rows: 2fr auto;
  grid-template-areas: "result_header" "result_code";
  background-color: lightgrey;
}

.ResultHeader {
  padding: 5px;
  grid-area: result_header;
  margin-top: -40px;
  color: #f66d85;
  font-size: 3rem;
  align-items: center;
  justify-content: center;
  display: flex;
}

.ResultHeader__placeholder--mobile {
  display: none;
}

.ResultHeader__placeholder--desktop {
  display: block;
}

@media screen and (max-width: 1200px) {
  .ResultHeader {
    font-size: 2rem;
  }
}

@media screen and (max-width: 900px) {
  .ResultHeader {
    font-size: 1.25rem;
  }
}

.ResultHeader__placeholder {
  color: grey;
}

.HeaderDirective {
  float: left;
  clear: both;
}

.HeaderDirective:not(:last-child):after {
  content: ",";
}

.ResultCode {
  grid-area: result_code;
}

.ResultCode__header {
  height: 40px;
  background-color: orange;
  color: white;
  width: 100%;
  display: flex;
  align-items: center;
  padding: 0 10px;
  font-weight: bold;
  justify-content: space-between;
}

.ResultCode__header-toggle {
  cursor: pointer;
}

.ResultCode__header-toggle span {
  border-bottom: 1px dotted white;
}

.ResultCode__header-select {
  border: 0;
  border-radius: 5px;
  padding: 3px 5px;
}

.ResultCode__code {
  font-size: 1.25rem;
  background-color: white;
  margin: 0;
}

.Footer {
  display: flex;
  align-items: center;
  justify-content: space-between;
  grid-area: footer;
  padding: 5px 8px;
  background-color: var(--colour-grey);
  color: white;
}

.Footer__resources span {
  display: inline-block;
  margin-right: 5px;
}

.Popup {
  position: fixed;
  top: 45px;
  right: 5px;
  background-color: black;
  color: white;
  padding: 5px;
  pointer-events: none;
  opacity: 0;
}

.Popup--show {
  opacity: 1;
}
